<head>
    <link rel="stylesheet" href="/Footer.css">
</head>

<footer class="footer">
    <h6><i class="fa-solid fa-copyright"></i>&nbsp&nbsp&copy; 2022 Paradise at Your Fingertips, Inc.</h6>
</footer>