<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Loay Halawani">
    <title>Contact Page</title>
    <link rel="stylesheet" href="Contact.css">
    <script src="https://kit.fontawesome.com/7507470908.js" crossorigin="anonymous"></script>
</head>

<body>
    <h1 align="center">Contact Page</h1>
</body>

</html>