<% layout('layouts/boilerplate')%>

    <head>
        <title>Initial Page</title>
        <link rel="stylesheet" href="/Initial.css">
    </head>

    <div class="container-fluid">
        <h1 class="header1">Paradise at Your Fingertips</h1>
    </div>
    <center><a href="/sites/map" id="mapLink">Jump to map!</a></center>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>