<% layout('layouts/boilerplate')%>

    <head>
        <title>Forgot password</title>
        <link rel="stylesheet" href="/Resetpass.css">
    </head>

    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80" alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Type new password</h5>
                        <form action="/user/resetpassword/<%= userID %>/<%= token %>" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">New password</label>
                                <input class="form-control" type="password" name="token" id="newpass" autofocus required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="username">Retype password</label>
                                <input class="form-control" type="password" name="newPassword" id="retypepass" autofocus required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <button class="btn btn-success btn-block" id="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>