<% layout('layouts/boilerplate')%>

    <head>
        <title>All campsites</title>
        <link rel="stylesheet" href="/Worldmap.css">
    </head>

    <body>
        <div id="map"></div>
        <br>
        <br>
        <button class="btn btn-primary" id="europe">Europe</button>
        <button class="btn btn-primary" id="africa">Africa</button>
        <button class="btn btn-primary" id="asia">Asia</button>
        <button class="btn btn-primary" id="namerica">N. America</button>
        <button class="btn btn-primary" id="samerica">S. America</button>
        <button class="btn btn-primary" id="center">Center</button>
        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiaGthcmFraSIsImEiOiJja3poNDF4aDkxODFkMnZvY2s5bjRxd2cxIn0.9dRE-S8-RdAv_xfQFm8jrw';
            const map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/outdoors-v11',
                center: [-19.253472, 22.738296],
                zoom: 2
            });
        </script>
        <script>
            const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
            const sites = {
                features: <%- JSON.stringify(sites) %>
            }
        </script>
        <script src="/javascripts/clusterMap.js"></script>
        <script src="/javascripts/mapButtons.js"></script>
    </body>

    </html>